In [2]:
#list
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
thislist

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [3]:
len(thislist)

5

In [4]:
type(thislist)

list

In [7]:
#Using the list() constructor to make a List
thislist = list(("apple", "banana", "cherry","mango","watermelon"))
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'watermelon']

In [8]:
thislist[1]

'banana'

In [9]:
thislist[-1]

'watermelon'

In [11]:
thislist[2:4]

['cherry', 'mango']

In [12]:
thislist[:4]

['apple', 'banana', 'cherry', 'mango']

In [13]:
thislist[2:]

['cherry', 'mango', 'watermelon']

In [14]:
thislist[-2:-1]

['mango']

In [15]:
if "banana" in thislist:
  print("Yes, 'banana' is in the fruits list")

Yes, 'banana' is in the fruits list

In [16]:
thislist[1] = "blackcurrant"
thislist

['apple', 'blackcurrant', 'cherry', 'mango', 'watermelon']

In [17]:
thislist[1:3] = ["blackcurrant", "watermelon"]
thislist

['apple', 'blackcurrant', 'watermelon', 'mango', 'watermelon']

In [18]:
thislist[1:2] = ["blackcurrant", "cherry"]
thislist

['apple', 'blackcurrant', 'cherry', 'watermelon', 'mango', 'watermelon']

In [19]:
thislist.insert(2,"watermelon")
thislist

['apple',
 'blackcurrant',
 'watermelon',
 'cherry',
 'watermelon',
 'mango',
 'watermelon']

In [20]:
thislist.append("orange")
thislist

['apple',
 'blackcurrant',
 'watermelon',
 'cherry',
 'watermelon',
 'mango',
 'watermelon',
 'orange']

In [21]:
thislist.insert(1, "orange")
thislist

['apple',
 'orange',
 'blackcurrant',
 'watermelon',
 'cherry',
 'watermelon',
 'mango',
 'watermelon',
 'orange']

In [22]:
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
thislist

['apple',
 'orange',
 'blackcurrant',
 'watermelon',
 'cherry',
 'watermelon',
 'mango',
 'watermelon',
 'orange',
 'mango',
 'pineapple',
 'papaya']

In [24]:
thislist.remove("mango")
thislist

['apple',
 'orange',
 'blackcurrant',
 'watermelon',
 'cherry',
 'watermelon',
 'watermelon',
 'orange',
 'mango',
 'pineapple',
 'papaya']

In [25]:
thislist.pop(1)
thislist

['apple',
 'blackcurrant',
 'watermelon',
 'cherry',
 'watermelon',
 'watermelon',
 'orange',
 'mango',
 'pineapple',
 'papaya']

In [26]:
thislist.pop()
thislist

['apple',
 'blackcurrant',
 'watermelon',
 'cherry',
 'watermelon',
 'watermelon',
 'orange',
 'mango',
 'pineapple']

In [27]:
del thislist[0]
thislist

['blackcurrant',
 'watermelon',
 'cherry',
 'watermelon',
 'watermelon',
 'orange',
 'mango',
 'pineapple']

In [28]:
thislist.clear()
thislist

[]

In [32]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
thislist

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [33]:
for x in thislist:
    print(x)

apple
banana
cherry
mango
pineapple
papaya

In [36]:
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry
mango
pineapple
papaya

In [37]:
i=0
while i<len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry
mango
pineapple
papaya

In [39]:
[print(x) for x in thislist]

apple
banana
cherry
mango
pineapple
papaya

[None, None, None, None, None, None]

In [40]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [41]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [43]:
thislist.sort()
thislist

['apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple']

In [44]:
thislist.sort(reverse = True)
thislist

['pineapple', 'papaya', 'mango', 'cherry', 'banana', 'apple']

In [45]:
thislist.sort(key = str.lower)
thislist

['apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple']

In [46]:
thislist.reverse()
thislist

['pineapple', 'papaya', 'mango', 'cherry', 'banana', 'apple']

In [47]:
mylist = thislist.copy()
mylist

['pineapple', 'papaya', 'mango', 'cherry', 'banana', 'apple']

In [48]:
mylist = list(thislist)
mylist

['pineapple', 'papaya', 'mango', 'cherry', 'banana', 'apple']

In [49]:
list2 = [1, 2, 3]
list3 = mylist + list2
list3

['pineapple', 'papaya', 'mango', 'cherry', 'banana', 'apple', 1, 2, 3]

In [51]:
for x in list2:
  list3.append(x)
print(list3)

['pineapple', 'papaya', 'mango', 'cherry', 'banana', 'apple', 1, 2, 3, 1, 2, 3]

In [53]:
list2 = [1, 2, 3]

mylist.extend(list2)
print(mylist)

['pineapple', 'papaya', 'mango', 'cherry', 'banana', 'apple', 1, 2, 3]

In [54]:
#Python Tuples
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [55]:
print(len(thistuple))
thistuple

3

('apple', 'banana', 'cherry')

In [56]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [57]:
print(thistuple[-1])
thistuple

e

'apple'

In [58]:
#sets
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

In [59]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [60]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [62]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
set3

{1, 2, 3, 'a', 'b', 'c'}

In [63]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

In [66]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [67]:
#Python Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [68]:
thisdict["brand"]

'Ford'

In [76]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [70]:
print(len(thisdict))

3

In [71]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
type(thisdict)

dict

In [74]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
x

'Mustang'

In [77]:
x = thisdict.get("model")
x

'Mustang'

In [79]:
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [80]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [82]:
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 2020])

In [83]:
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [84]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [88]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
thisdict

{'brand': 'Ford', 'year': 1964}

In [89]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [95]:
#Python Arrays
cars = ["Ford", "Volvo", "BMW"]

cars

['Ford', 'Volvo', 'BMW']

In [91]:
x = cars[0]
x

'Ford'

In [98]:
x = len(cars)
x

2

In [99]:
cars = ["Ford", "Volvo", "BMW"]

for x in cars:
  print(x)

Ford
Volvo
BMW

In [94]:
cars = ["Ford", "Volvo", "BMW"]

cars.append("Honda")

print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [96]:
cars.pop(1)
cars

['Ford', 'BMW']

In [101]:
cars.remove("BMW")
cars

['Ford', 'Volvo']

In [1]:
# Python Data Frame
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [2]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [5]:
df.loc[[0, 1]]

   calories  duration
0       420        50
1       380        40

In [7]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [8]:
df.loc["day2"]

calories    380
duration     40
Name: day2, dtype: int64

In [13]:
import pandas as pd

df = pd.read_csv('E:\Research\Processed_IoT_dataset\Processed_IoT_dataset\IoT_Fridge.csv')

print(df)

             date            time  fridge_temperature temp_condition  label  \
0       31-Mar-19     12:36:52                  13.10          high       0
1       31-Mar-19     12:36:53                   8.65          high       0
2       31-Mar-19     12:36:54                   2.00           low       0
3       31-Mar-19     12:36:55                   4.80           low       0
4       31-Mar-19     12:36:56                  10.70          high       0
...           ...             ...                 ...            ...    ...
587071  27-Apr-19       12:41:17                 4.00            low      0
587072  27-Apr-19       12:41:17                 6.05           high      0
587073  27-Apr-19       12:41:17                12.80           high      0
587074  27-Apr-19       12:41:18                 6.50           high      0
587075  27-Apr-19       12:41:20                 5.30            low      0

          type
0       normal
1       normal
2       normal
3       normal
4       normal
...        ...
587071  normal
587072  normal
587073  normal
587074  normal
587075  normal

[587076 rows x 6 columns]